<header>
    <div>
    <!-- {{ strings.Repeat ( .Site.Title | len | add 6 ) "=" }}<br> -->
    <!-- == --><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a><!-- ==-->
    
    <!-- <br>{{ strings.Repeat ( .Site.Title | len | add 6 ) "=" }} -->
    <div style="text-align: right;">{{ .Site.Params.subtitle }}</div>
    </div>
    <nav class='links'>
        {{ with .Site.Menus.main }}
            |
            {{ range . }}
            <a href="{{ .URL | relURL }}"><b>{{ .Name }}</b></a> |
        {{ end }}
    </nav>
    {{ end }}
</header>
